@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/script.js"></script>
</head>
<body>
    <img id="leftImage" src="resources/empty.png" style="float:left;width:300px;height:300px; margin-right: 100px;">
        <div class="form-container">
            <form id="calculationForm">
                <input type="text" id="number" placeholder="Enter a number" class="text-input" autocomplete="off">
                <div class="button-container">
                    <button type="button" id="factorialButton" class="button">Factorial</button>
                    <button type="button" id="fibonacciButton" class="button">Fibonacci</button>
                </div>
            </form>
            <div id="result" class="result"></div>
        </div>
    <img id="rightImage" src="resources/empty.png" style="float:right;width:300px;height:300px; margin-left: 100px;">
</body>
</html>
